<p>
	<strong>Commenter:</strong>
	<%= comment.user.email %>
</p>

<p>
	<strong>Text:</strong>
	<%= comment.body %>
</p>

<% if current_user == comment.user %>
	<%= link_to 'Edit Comment', edit_photo_comment_path(@photo, comment) %> | 
	<%= link_to 'Destroy Comment', [comment.photo, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>