<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Welcome to Bru-Gram!</h1>
        <% if user_signed_in? %>
        	<%= button_to "Profile", user_photos_path(current_user), :class => "btn btn-dark btn-lg", :method => :get %>
        <% else %>
        	<h3>Sign in or sign up to start.</h3>
        <% end %>
    </div>
</header>

