<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>New Photo</h2>
                <p class="lead"><%= render 'form' %></p>
            </div>
        </div>
        <!-- /.row -->
        <%= button_to "Back", user_photos_path(@user), :class => "btn btn-dark btn-lg", :method => :get %>
    </div>
    <!-- /.container -->
</section>